<head>
    <link rel="stylesheet" href="./css/Dashboardstyle.css">
</head>
<div class="wrapper">
    <div class="content">
        <ul class="menu">
            <li data-select="NEW GAME" class="active">NEW GAME</li>
            <li data-select="LOAD GAME">LOAD GAME</li>
            <li data-select="MUSIC">
                MUSIC
                <span class="music-options">
                    <span class="music-on active" data-select="ON">ON</span>
                    <span class="music-off" data-select="OFF">OFF</span>
                </span>
            </li>
        </ul>
    </div>
</div>

<audio id="background_music" src="https://burtonmediainc.com/AUDIO/intergalactic-odyssey.ogg"></audio>
<audio id="menu_select_sound" src="https://burtonmediainc.com/AUDIO/menu-click.wav"></audio>

<script>
    const MENU_ITEMS = document.querySelectorAll('.menu li');
    const SOUND_ARRAY = [
        {
            name: 'BACKGROUND_MUSIC',
            src: 'https://burtonmediainc.com/AUDIO/intergalactic-odyssey.ogg'
        },
        {
            name: 'MENU_MOVE',
            src: 'https://burtonmediainc.com/AUDIO/menu-click.wav'
        },
        {
            name: 'MENU_SELECT',
            src: 'https://burtonmediainc.com/AUDIO/select.wav'
        },
        {
            name: 'OPTION_MOVE',
            src: 'https://burtonmediainc.com/AUDIO/pop.wav'
        }
    ]

    /* VARIABLES */
    let sound, music, playPromise;
    let currentMenuItem = 0;
    let musicSelect = false;

    /* INIT */
    function init() {
        initSounds();
    }
    window.addEventListener("load", init);

    /* CONTROLS */
    document.addEventListener("keydown", (e) => {
        if (!musicSelect) {
            switch (e.code) {
                case 'ArrowUp':
                    selectChange(-1);
                    break;
                case 'ArrowDown':
                    selectChange(1);
                    break;
                case 'Enter':
                    selectMenuOption();
                    break;
            }
        } else if (musicSelect) {
            switch (e.code) {
                case 'ArrowLeft':
                    selectMusicChange("ON");
                    break;
                case 'ArrowRight':
                    selectMusicChange("OFF");
                    break;
                case 'Enter':
                    toggleMusicSelect();
                    break;
            }
        }
    });

    // Move the selection by the position passed in
    // I purposfully chose not to loop the menu select
    // in order to feel more retro
    const selectChange = (pos) => {
        let newPos = currentMenuItem + pos;

        if (newPos >= 0 && newPos < MENU_ITEMS.length) {
            currentMenuItem = newPos;
        }

        setSelectedMenuItem(currentMenuItem);
    }

    const selectMusicChange = (val) => {
        document.querySelector(".music-options .active").classList.remove('active');

        switch (val) {
            case 'ON':
                document.querySelector(".music-on").classList.add('active');
                playMusic();
                break;
            case 'OFF':
                document.querySelector(".music-off").classList.add('active');
                pauseMusic();
                break;
        }

        playSound("OPTION_MOVE");
    }

    const setSelectedMenuItem = (index) => {
        // remove existing active class
        document.querySelector('.menu li.active').classList.remove('active');
        // add the class to the specific index
        MENU_ITEMS[index].classList.add('active');

        playSound("MENU_MOVE");
    }

    const selectMenuOption = () => {
        let selected = document.querySelector(".menu li.active").dataset.select;

        switch (selected) {
            case 'NEW GAME':
                playSound("MENU_SELECT");
                break;
            case 'LOAD GAME':
                playSound("MENU_SELECT");
                break;
            case 'MUSIC':
                toggleMusicSelect();
                break;
        }
    }

    const toggleMusicSelect = () => {
        let musicMenu = document.querySelector(".music-options");
        musicSelect = !musicSelect;

        if (musicSelect) {
            playSound("OPTION_MOVE");
            musicMenu.classList.add("show");
        } else {
            playSound("MENU_SELECT");
            musicMenu.classList.remove("show");
        }
    }

    /* SOUNDS */
    function initSounds() {
        music = new Audio();
        music.volume = .1;
        music.loop = true;
        music.src = getSource("BACKGROUND_MUSIC");

        sound = new Audio();

        //playMusic();
    }

    function playMusic() {
        music.currentTime = 0;
        music.play();
    }

    function pauseMusic() {
        music.pause();
    }

    function playSound(name) {
        sound.src = getSource(name);
        sound.pause();
        sound.currentTime = 0;
        sound.play();
    }

    function getSource(name) {
        return SOUND_ARRAY.filter(sound => sound.name == name)[0].src;
    }
</script>