<head>
    <link rel="stylesheet" href="./css/Dashboardstyle.css">
</head>
<ol>
    <li><a class="arrow" href="/NewMatch"><i class="fas fa-arrow-alt-right"></i>Nuova Partita</a></li>
    <li><a class="arrow" href="/MatchDone"><i class="fas fa-arrow-alt-right"></i>Partite svolte</a></li>
    <li><a class="arrow"><i class="fas fa-arrow-alt-right"></i>Vedi dati</a></li>
    <li><a class="arrow"><i class="fas fa-arrow-alt-right"></i>Vota il migliore in campo</a></li>
    
</ol>
