<head>
    <link href="https://fonts.googleapis.com/css?family=Ravi+Prakash" rel="stylesheet">
    <style>
        body {
            background: blue;
            overflow: hidden;
            background-image: url(http://icons.iconarchive.com/icons/musett/dragon-ballz/256/Dragon-Ball-icon.png);
            background-repeat: no-repeat;
            background-position: 50% 10%;
            margin: 0;
            padding: 0;
        }

        .grad {
            background: linear-gradient(rgba(255,255,255,0), rgba(255,255,255,1));
        }

        .container1 {
            display: block;
            position: relative;
            left: 60px;
            width: 50%;
            text-align: center;
            font-family: 'Ravi Prakash', cursive;
            -webkit-text-stroke: 2px black;
            font-size: 60px;
            font-weight: 500;
            perspective: 600px;
            perspective-origin: 50% 0;
        }

        p {
            color: yellow;
            background: linear-gradient(to bottom, yellow 0%, red 100%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }

        .left {
            transform-origin: 20% 0%;
            transform-style: preserve-3d;
            transform: rotateY(30deg);
        }

        .scroll {
            animation: scrolling 40s linear 0s infinite;
        }

        keyframes scrolling {
            from {
                transform: translateY(25%)
            }
            to {
                transform: translateY(-100%)
            }
        }

        .logo {
            max-width: 100%;
            padding: 0px;
            margin: 0px;
        }

        .container2 {
            display: block;
            position: absolute;
            left: 50%;
            top: 0px;
            width: 50%;
            height: 100%;
            text-align: center;
        }

        .goku {
            width: 100%;
            height: 100%;
            background-image: url("http://vignette2.wikia.nocookie.net/fictional-battle-omniverse/images/8/8b/Goku_Dragon_Ball_Z.png/revision/latest?cb=20150508010447");
            background-size: 300px auto;
            background-repeat: no-repeat;
            background-position: 50% 0;
        }

        .goku:hover {
            background-image: url(http://vignette3.wikia.nocookie.net/vsbattles/images/5/56/Goku_%28Base%29.png/revision/latest?cb=20160315175220);
            background-size: 400px auto;
        }

        body:hover {
            background-image: url(http://pre15.deviantart.net/1b53/th/pre/i/2012/302/1/4/z_ball_dbz_by_fsuarez913-d5jc8v1.png);
            background-size: 300px 300px;
        }

        /* Media Query per dispositivi mobili */
        media (max-width: 768px) {
            .container1 {
                width: 90%; /* Più largo su schermi piccoli */
                left: 5%;
                font-size: 40px; /* Ridurre la dimensione del font */
            }

            .container2 {
                width: 100%;
                top: 20%;
            }

            .goku {
                background-size: 200px auto; /* Ridurre la dimensione dell'immagine */
                background-position: center;
            }

            body {
                background-image: url(http://pre15.deviantart.net/1b53/th/pre/i/2012/302/1/4/z_ball_dbz_by_fsuarez913-d5jc8v1.png);
                background-size: 200px 200px;
            }

            p {
                font-size: 24px; /* Ridurre la dimensione del testo */
                padding: 10px;
            }
        }

        /* Media Query per dispositivi mobili molto piccoli */
        media (max-width: 480px) {
            .container1 {
                font-size: 30px; /* Ancora più piccolo per schermi stretti */
            }

            p {
                font-size: 20px;
            }

            .goku {
                background-size: 150px auto;
            }

            body {
                background-size: 150px 150px;
            }



        }
        .button{
  position:relative;
  display:inline-block;
  margin:20px;
}

.button a{
  color:white;
  font-family:Helvetica, sans-serif;
  font-weight:bold;
  font-size:36px;
  text-align: center;
  text-decoration:none;
  background-color:#FFA12B;
  display:block;
  position:relative;
  padding:20px 40px;
  
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  text-shadow: 0px 1px 0px #000;
  filter: dropshadow(color=#000, offx=0px, offy=1px);
  
  -webkit-box-shadow:inset 0 1px 0 #FFE5C4, 0 10px 0 #915100;
  -moz-box-shadow:inset 0 1px 0 #FFE5C4, 0 10px 0 #915100;
  box-shadow:inset 0 1px 0 #FFE5C4, 0 10px 0 #915100;
  
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.button a:active{
  top:10px;
  background-color:#F78900;
  
  -webkit-box-shadow:inset 0 1px 0 #FFE5C4, inset 0 -3px 0 #915100;
  -moz-box-shadow:inset 0 1px 0 #FFE5C4, inset 0 -3pxpx 0 #915100;
  box-shadow:inset 0 1px 0 #FFE5C4, inset 0 -3px 0 #915100;
}

.button:after{
  content:"";
  height:100%;
  width:100%;
  padding:4px;
  position: absolute;
  bottom:-15px;
  left:-4px;
  z-index:-1;
  background-color:#2B1800;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
    </style>
</head>

<div class="grad">
    <div class="container1">
        <div class="left">
            <div class="scroll">
                <p>CHE IL TONREO DEGLI ESCLUSI ABBIA INIZIO</p>
            </div>
        </div>
    </div>

 

    <div class="container2">
        <div class="goku"></div>
    </div>

    <div ontouchstart="">
        <div class="button">
            <a href="#">Accedi al torneo</a>
        </div>
    </div>

</div>
